* {
    font-family: "Rajdhani", serif;
    font-weight: 500;
    font-style: normal;
    overflow-x: hidden;
}

img {
    width:90%;
    max-width: 500px;
}

#imagen-carta {
    width:50%;
    max-width: 200px;
    text-align: center;
}

p {
    display:flex;
    flex-direction: column;
}

.carta_imagen img {
    width:60px;
}

td {
    vertical-align: middle;
    text-align: center;
}

i {
    font-size:30px;
}

i:hover {
    cursor: pointer;
}

#boton_menos {
    color:red;
}

#boton_mas {
    color:green;
}

#boton_borrar {
    color:purple
}